<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="Christel van Haren"
          content="Afvinkopdracht 4">
    <title>Afvinkopdracht 4</title>
    <link rel="stylesheet" href="../static/afvink4.css">
</head>

<body>
        <form method="get">
        <h1>DNA, RNA of eiwit?</h1>
            <p>
                Geef een sequentie:
                <label>
                    <input type="text" name=seq>
                    <br>
                    <button type="submit">Transleren</button>
                </label>

            </p>

            <p>Geeft aan of het DNA, RNA of een eiwit is: <br> {{ soort }}</p>
            <p>{{ een }}</p>

            <p>
                {% if soort == "Eiwit" %}
                  <a href={{ twee }}>BLAST</a>
                {% else %}
                {{ twee }}
                {% endif %}
            </p>

        </form>

</body>
</html>